h1,h2,h3,h4,h5,h6,h7{
    font-family: 'Average Sans', sans-serif;
    font-weight: 400;
    -webkit-text-stroke: 0.3px;
}
h2{
    font-size: 24px;
}

#latestThreads{
}
.threadImage{
    max-height: 250px;
    max-width: 250px;
    float: left;
    margin-right: 30px;
    margin-bottom:30px;
}
.replyImage{
    max-height: 180px;
    max-width: 180px;
    float: left;
    margin-right: 30px;
}
.author{
    color: tomato;
    font-weight: bold;
}
.reply {
    background-color: #EEE;
    float: left;
    min-width: 40%;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    position: relative;
}
.thread{
    border-bottom:1px solid #CCC;
    margin-bottom:15px;
    padding-bottom: 15px;
    position:relative;
}
.thread .threadHeader, .reply .replyHeader{
    margin-bottom:15px;
}
.replyButton{
    float:right;
}
.moreReplies {
    display: inline-block;
    padding: 0 5px;
    border-radius: 3px;
    color: darkslateblue;
    font-size: 90%;
    font-style: italic;
}

.postBox {
    background: aliceblue;
    padding: 20px;
    display: block;
    border: 1px solid #DDD;
    margin-bottom: 20px;
}

.deleteButton{
    position: absolute;
    right:10px;
    bottom: 20px;
}

.postBox div label {
    width: 20%;
}
.postBox div input, .postBox div textarea {
    width: 80%;
    border: 1px solid #CCC;
}
.postBox div textarea {
    min-height: 80px;
}
.postBox div input[type="file"] {
    display:inline-block;
    border:0;
}
.postBox button{
    margin-left: 20%;
    margin-top:10px;
}

.postBox div {
    margin-bottom: 5px;
}

ul.nav{
    float:right;
    line-height: 53px;
}
ul.nav li{
    display:inline-block;
    width:auto;
}

.header {
    padding: 30px 0px 20px 0px;
}

.status{
    float:right;
    display:inline-block;
    color: darkslateblue;
    font-size:90%;
}

#footer{
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-size:80%;
}

.largeInlineImage{
    max-width: 100%;
    max-height: 800px;
}

.threadImage img, .replyImage img {
    max-height: 100%;
    max-width: 100%;
}